{%-comment-%}
  Mr. Green Jekyll Theme - v1.1.0 (https://github.com/MrGreensWorkshop/MrGreen-JekyllTheme)
  Copyright (c) 2022 Mr. Green's Workshop https://www.MrGreensWorkshop.com
  Licensed under MIT
{%-endcomment-%}

{%- if site.data.conf.main.main_footer_centered %}
  {%- assign footer_class = 'footer-text-centered' -%}
{% endif -%}
{%- include default/copyright-text.liquid %}

{%- if site.data.conf.main.creative_commons.enable -%}
  {%- assign license_type = site.data.owner[lng].creative_commons.license_type -%}
{%- endif -%}

{%- if site.data.conf.main.creative_commons.enable and site.data.conf.main.creative_commons.tooltip-%}
  {%- capture tooltip_creative_commons -%}
    data-toggle="tooltip" data-placement="top" data-tooltip-no-hide title="{{ site.data.lang[lng].creative_commons[license_type] }}"
  {%- endcapture %}
{%- endif -%}

{%- if site.data.conf.main.copyright_add_text_to_end -%}
  {%- assign copyright_text_out = copyright_text_out | append: site.data.lang[lng].copyright.additional_text -%}
{%- endif -%}

{%- if site.data.conf.main.creative_commons.enable or site.data.conf.main.copyright_add_text_to_end -%}
  {%- assign footer_class = footer_class | append: ' long-copyright' -%}
{%- endif -%}

{%- capture img_template -%}
  <img src="{{ site.baseurl }}/assets/img/default/cc/$lic_type.svg" alt="$lic_type" width="12" height="12">&nbsp;
{%- endcapture %}

{%- if site.data.conf.main.creative_commons.add_all_icons -%}
  {%- assign lic_type_list = license_type | split: '-' -%}
  {%- assign img_list = nil -%}
  {%- for lic_type in lic_type_list %}
    {%- assign img_list = img_list | append: img_template | replace: '$lic_type', lic_type -%}
  {%- endfor -%}
{%- endif -%}

<div class="footer-wrapper">
  <div class="footer-container">
    <footer translate="no">
      {% if site.data.conf.main.main_footer -%}
        <div class="footer-text {{ footer_class }}">
          <p>{{ copyright_text_out }} </p>
          {%- if site.data.conf.main.creative_commons.enable -%}
            {%- assign license_url = site.data.conf.main.creative_commons.license_url
              | replace: site.data.conf.main.creative_commons.license_replace, license_type
              | replace: site.data.conf.main.creative_commons.lang_replace, lng
            -%}
            <a href="{{ license_url }}" target="_blank" rel="noopener noreferrer" {{ tooltip_creative_commons }}>
              {{ img_template | replace: '$lic_type', 'cc' }}
              {%- if site.data.conf.main.creative_commons.add_all_icons -%}
                {{ img_list }}
              {%- endif -%}
              <p>{{ site.data.lang[lng].creative_commons.some_rights_reserved }}</p>
            </a>
          {%- endif -%}
        </div>
      {% endif -%}
      <p class="footer-powered"></p>
    </footer>
  </div>
</div>
