/* Mr. Green Jekyll Theme - v1.1.0 (https://github.com/MrGreensWorkshop/MrGreen-JekyllTheme)
 * Copyright (c) 2022 Mr. Green's Workshop https://www.MrGreensWorkshop.com
 * Licensed under MIT
*/

.home-heading-container {
  @include get_scheme(home-heading-colors-);
}

.home-heading {
  width: calc(100% + (var(--text-spacing) * 2));
  margin-top: calc(-1 * var(--text-spacing));
  margin-left: calc(-1 * var(--text-spacing));
  height: calc(100vw - (50vh / 2));
  max-height: 250px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: inset 0 -8px 5px -1px var(--home-heading-shadow-color);
  /* for centering home-heading-message */
  display: table;
  position: relative;
  @include get_scheme(home-heading-colors-);
}

.home-heading:before {
  background-image: var(--background-image);
  background-size: cover;
  background-position: 50% 50%;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
}

.home-heading > img {
  border-radius: 10px;
  max-width: var(--main-container-width-limit);
  width: 100%;
  height: auto;
}

.home-heading-meta {
  position: absolute;
  bottom: 10px;
  left: 5px;
  color: var(--home-heading-message-color);
  text-shadow: 0 0 10px black;
}

.home-heading-message {
  font-size: 4.2rem;
  font-weight: 700;
  color: var(--home-heading-message-color);
  text-align: center;
  /* for centering home-heading-message */
  display: table-cell;
  vertical-align: middle;
  position: relative;
  text-shadow: 0 0 10px black;
}

.home-intro-text {
  text-align: justify;
  margin-top: calc(var(--text-spacing) - 3px);
}

.home-intro-text > h1,
.home-intro-text > h2,
.home-intro-text > h3,
.home-intro-text > h4,
.home-intro-text > h5,
.home-intro-text > h6 {
  color: var(--home-intro-text-header-color);
}

/* home intro text */
/* currently handled by markdown-style use this to override */
/*
.home-intro-text > p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
*/

/* remove last spacing */
.home-intro-text > p:last-child {
  margin-bottom: 0px;
}
