/* Mr. Green Jekyll Theme - v1.1.0 (https://github.com/MrGreensWorkshop/MrGreen-JekyllTheme)
 * Copyright (c) 2022 Mr. Green's Workshop https://www.MrGreensWorkshop.com
 * Licensed under MIT
*/

/* common for default, about */
.contact-container {
  @include get_scheme(contact-colors-);
  position: relative;
  margin: 0 var(--side-nav-side-margin);
}

.contact-container > h3 {
  position: absolute;
  margin: 0;
  padding: 0 10px;
  top: -7px;
  color: var(--contact-header-color);
  background-color: var(--side-top-nav-background-color);
  font-size: 1.3rem;
  font-weight: 400;
  transform: translateX(-50%);
  left: 50%;
  transition: all 0.4s ease;
}

.contact-container > hr {
  margin: 0;
  transition: all 0.4s ease;
}

.contact-container > ul {
  text-align: center;
  padding: 0;
  margin: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contact-container > ul:hover {
  white-space: unset;
}

.contact-container > ul > li {
  display: inline-block;
  font-size: 1.7rem;
}

.contact-container > ul > li:not(:last-child) > a {
  margin-right: 5px;
}

.contact-container > ul > li > a {
  display: block;
  color: var(--contact-icons-color);
  padding: 6px;
}

.contact-container > ul > li > a:hover {
  color: var(--contact-icons-hover-color);
}

.contact-container > ul > li > a > img {
  width: 20px;
  height: 20px;
}

.link-section-container {
  position: relative;
  @include get_scheme(contact-colors-);
  margin: 0 var(--side-nav-side-margin);
}

.link-section-container > h3 {
  position: absolute;
  margin: 0 4px;
  padding: 0 10px;
  top: -7px;
  color: var(--contact-header-color);
  background-color: var(--side-top-nav-background-color);
  font-size: 1.3rem;
  font-weight: 400;
  transform: translateX(-50%);
  left: 50%;
  transition: all 0.4s ease;
}

.link-section-container > hr {
  margin: 30px -15px 10px -15px;
  transition: all 0.4s ease;
}

